@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  background-color: #131516;
}

.dialog input,
.dialog textarea {
  background-color: white;
  border: 1px solid black;
}

.tooltip-text {
  opacity: 0;
}

.tooltip:hover .tooltip-text {
  opacity: 100;
  visibility: visible;
}
